<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Logo</a>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
        </li>

        <!-- Dropdown -->
        <li ngbDropdown class="d-inline-block">
            <a class="nav-link cursor" id="dropdownBasic1" ngbDropdownToggle>Categories</a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <a *ngFor="let category of categories" class="dropdown-item" routerLink="/products/{{ category.id }}">{{
                    category.name }}</a>
            </div>
        </li>
        
    </ul>
    <ul class="navbar-nav" *ngIf="currentUser.isEmpty">
        <li class="nav-item">
            <a class="nav-link" routerLink="login">Login</a>
        </li>
        <li class="nav-item" >
            <a class="nav-link" routerLink="register">Register</a>
        </li>
    </ul>
    <ul class="navbar-nav" *ngIf="!currentUser.isEmpty">
        <li ngbDropdown class="d-inline-block">
            <a class="nav-link cursor" id="dropdownBasic1" ngbDropdownToggle>{{currentUser.full_name}}</a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <a class="dropdown-item" routerLink="/profile">Profile</a>
                <a class="dropdown-item" (click)="onLogout()">Logout</a>
            </div>
        </li>
    </ul>
</nav>