<div class="container-sm">
<h1>Registration</h1>
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="form-row">
    <div class="form-group col-md-6">
        <label for="full_name">Name</label>
        <input type="text" class="form-control" id="full_name">
        <p class="col-md-6" [style.visibility]="isNameValid ? 'hidden' : 'visible'">Name is required</p>
      </div>
      <div class="form-group col-md-6">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username">
        <p class="col-md-6" [style.visibility]="isUsernameValid ? 'hidden' : 'visible'">Username is required</p>
      </div>
      
    <div class="form-group col-md-6">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
      <p class="col-md-6" [style.visibility]="isEmailValid ? 'hidden' : 'visible'">Email is required</p>
    </div>
    <div class="form-group col-md-6">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password">
      <p class="col-md-6" [style.visibility]="isPasswordValid ? 'hidden' : 'visible'">Password is required</p>
    </div>
    <div class="w-100"></div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Register
      </button>
      <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
  </form>
</div>