.prod-card img {
    display: block;
    margin: 0 auto;
    height: 250px;
}

.prod-card {
    text-decoration: none;
    color: black;
}

.container-fluid {
    background: rgb(230, 216, 243);
}

.container {
    margin-top: 110px !important;
}

.card {
    border: none;
    outline: none;
    background-color: white;
    border-radius: 20px;
    transition: transform .3s;
    box-shadow: 0 10px 15px rgba(99, 1, 82, .1);
}

.productName {
    height: 87px;
    overflow: hidden;
  }

.card:hover {
    transform: translateY(-15px);
    transition: transform .3s;
}

.info {
    line-height: 7px;
}

.star {
    color: #fbc02d;
}

.cost span {
    font-weight: bold;
    font-size: 22px;
}

.cursor {
    cursor: pointer;
}

.headBar {
    background: rgb(99, 1, 82);
}

#no-item {
    height: 80vh;
}